:root {
    --gold: #f2a900; /* Le vrai orange Bitcoin */
    --bg: #0b0e11;   /* Le noir des plateformes de trading */
    --card: #1e2329;
    --text: #eaecef;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* Header style Bitcoin */
nav {
    display: flex; justify-content: space-between; padding: 15px 5%;
    background: var(--bg); border-bottom: 1px solid #333;
}

.coin-price {
    display: flex; gap: 20px; font-size: 0.8rem; color: #0ecb81;
}

/* Dashboard Grid */
.main-container {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 15px; padding: 20px;
}

.chart-box {
    background: var(--card); border-radius: 10px; height: 400px;
    display: flex; align-items: center; justify-content: center;
    border: 1px solid #333; position: relative;
}

.trade-panel {
    background: var(--card); padding: 20px; border-radius: 10px;
}

.btn-buy {
    background: #0ecb81; color: white; width: 100%; padding: 12px;
    border: none; border-radius: 5px; font-weight: bold; cursor: pointer;
}

.btn-sell {
    background: #f6465d; color: white; width: 100%; padding: 12px;
    border: none; border-radius: 5px; font-weight: bold; cursor: pointer;
    margin-top: 10px;
}
